# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform sensitive files
terraform.tfstate
terraform.tfstate.backup

# SSH keys
*.pem
*.key
id_rsa
id_rsa.pub
id_ed25519
id_ed25519.pub

# Ansible
*.retry

# Python
__pycache__/
*.pyc

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
